<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flashcards</title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Simple flashcards application">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <%= yield %>
  </body>
</html>
