<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', deffer: true %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
